extends layout 
 
block content 
 if (toShow == null) 
    h2 No instance to delete 
 else
  h1(style="text-align: left; color:green")= title
  - let truckid = toShow._id 
  - let truck_name = toShow.truck_name 
  - let truck_type = toShow.truck_type 
  - let truck_size = toShow.truck_size 
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{truckid} 
  - let actionid = "/resource/truck/" + truckid 
     form(id='truckForm', action= actionid, method="PUT") 
      div.form-group 
        label.truckAttr(for='truck_name') truck name 
        input#truck_name(type='text', name='truck_name', value= truck_name ) 
      div.form-group 
        label.truckAttr(for='truck_type') truck type 
        input#truck_type(type='text', name='truck_type', value= truck_type ) 
      div.form-group 
        label.truckAttr(for='truck_size') truck size 
        input#truck_size(type='number', name='truck_size', value= truck_size ) 
      input(class="btn btn-secondary" type="submit") 
 
     script. 
         document.forms['truckForm'].addEventListener('submit', (event) => { 
          event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
          fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
           }).then((resp) => { 
             return resp.json(); // or resp.text() or whatever the server sends 
           }).then((body) => { 
            alert("Update succeded") 
        // TODO handle body 
           }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
            }); 
           }); 
 